*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*REGOLE GENERICHE*/
.container{
  width: 80%;
  margin: auto;
}

.container2{
  /*debug*/
  width: 50%;
  height: 50%;
  background-color: green;
  /*debug*/
  margin: auto;
  margin-top: 50px;
}

.clearfix::after{
  ontent: "";
  display: table;
  clear: both;
}

.btn_grande{
  border: none;
  background-color: #FF7A59;
  border-radius: 3px;
  padding: 12px;
  /*margin: 5px;*/
  font-weight: bold;
}

.btn_plus{
  padding: 16px;
}

.white{
  color: white;
}



/*REGOLE HEAEDER*/

.background_grigio{
  background-color: #F5F8FA;
  padding-bottom: 2%;
}

header{
  min-height:150px;
}

#nav_contacts{
  width: 100%;
  text-align: center;
  padding-top: 20px;
  /*position: fixed;
  top: 0;*/
  border-bottom: 1px solid #33475b;
}

#nav_contacts a{
  text-decoration: none;
  font-size: 16px;
}

#right{
  border-right: 2px solid #33475b;
  padding-right: 10px;
}

div.login a{
  color:  white;
}

span{
  display: inline-block;
}

.login{
  width: 30%;
  float: right;
}


#btn_login{
  padding: 10px;
  border-radius: 3px;
  border: 2px solid  #FF7A59;
  color:  #FF7A59;
  margin-right: 5px;
}

#nav_bar a{
  color: #33475B;
  text-decoration: none;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
}

#logo{
  width: 180px;
  height: 70px;
  padding: 1%;
}

#lista ul li{
  list-style: none;
  display: inline-block;
}

#lista{
  float: right;
  padding-top: 3%;
}

#sez_jumbotron p{
  margin: 20px 0;
}


/*REGOLE MAIN*/
.flot_left{
  float: left;
}

.min-height{
  min-height: 700px;
}

#sez_jumbotron{
  /*debug*/
  background-image: url(img/jumbotron.png);
  background-position: top;
  background-position: left;
  /*fine debug*/
  font-size: 20px;
}

#sez_jumbotron h1{
  font-size: 50px;
  margin-bottom: 20px;
}

.jumbotron{
  width: 30%;
  padding-top: 10%;
}











/*REGOLE FOOTER*/

footer{
  /*debug*/
  background-color:  green;
  height: 200px;
  /*fine debug*/
}
